# Бинарные и временные папки
bin/
obj/
.vs/

# Пользовательские файлы среды
*.user
*.suo

# Временные файлы
*.cache
*.log

# Исключить всё, кроме разрешённых расширений
# (этот блок можно опустить, если вручную добавляешь файлы через `git add`)
